@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    --navPagefontcolor: white;
    --navHeight: 5rem;
    --bodyColor: #2b4446;
    --primaryColor: whitesmoke;
    --navPageColor: #212121;
    --boxShadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05),
        -5px -5px 5px rgba(255, 255, 255, 0.5);

}


::selection {
    color: white;
    background: black;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bodyColor);
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Syne', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bodyColor);
    scroll-behavior: smooth;

}
 
a{
    text-decoration: none;
    color: inherit;
}

#time {
    position: fixed;
    display: flex;
    gap: 140px;
    color: #212121;
    z-index: 10;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: 'Monoton', cursive;
    transform: scale(0.5, 0.5);
    z-index: 1000;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: hsl(0, 0%, 96%);
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;

}

#time div {
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
    /* border:wheat 3px solid; */
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.dots::before {
    content: "";
    position: absolute;
    width: 15px;
    top: -3px;
    height: 15px;
    background-color: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}

header {
    position: fixed;
    /* top: 0; */
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bodyColor);
    z-index: 999;
    transition: 0.4s;

}

header #logo {
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primaryColor);
}

header #notepad {
    width: 30px;
    height: 30px;
    background-image: url("../svg/notepad.png");
    background-size: cover;
    margin-right: 4.5rem;
    margin-top: .8rem;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 1.5rem;
    z-index: 1000;
    border-radius: 50%;
    transition: 0.5s;

}

#menu1 {
    width: 1.3rem;
    height: 2px;
    background-color: var(--primaryColor);
    border-radius: 20px;
    transition: 0.2s 0.2s ease-out;

}

#menu2 {
    margin: .3rem 2px 0 0;
    width: 1rem;
    height: 2px;
    background-color: var(--primaryColor);
    border-radius: 20px;
    transition: 0.2s 0.2s ease-out;

}

.rotate-menu {
    transform: rotateZ(180deg);
}

.rotate1 {
    width: 1rem !important;
    transform: translate3d(0px, 4px, 0px) rotateZ(45deg);

}

.rotate2 {
    width: 1rem;
    transform: translate3d(0px, -4px, 0px) rotateZ(-45deg);

}

#nav-page1 {
    position: fixed;
    width: 60%;
    height: 70vh;
    background-color: var(--navPageColor);
    z-index: 1000;
    transition: 0.4s;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: clamp(2rem, 4.5vw, 6rem);
    font-weight: 600;
    color: var(--navPagefontcolor);
    font-family: 'Monoton', cursive;
    letter-spacing: 3px;

}

#nav-page1 ul {
    list-style: none;
}

#nav-page1 ul li {
    position: relative;
    cursor: pointer;
    /* padding-bottom: 3rem; */
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #9bab70;
    transition: 0.5s;
    border-radius: 10px;
}

.lined-on:hover .line {
    width: 80%;
}

#nav-page2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 70vh;
    background-color: var(--navPageColor);
    z-index: 1000;
    transition: .8s;
    color: var(--navPagefontcolor);
    transform: translateY(-100%);
}

.toggle {
    transform: translate(0, 0) !important;
}

#blog {
    width: 100%;
    height: 91%;
    position: absolute;
    background-color: var(--bodyColor);
    top: 4rem;
    z-index: 99;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    z-index: 500;
    overflow: hidden;


}

#blog h2 {
    padding: 5px;
    text-align: center;
    color: white;
}

#note {
    width: 0%;
    height: 0%;
    opacity: 0;
    overflow: hidden;
}

#blog textarea {
    /* position: absolute; */
    position: relative;
    /* display: inline-block;
    margin: auto; */
    width: 90%;
    height: 80%;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -0%);
    resize: none;
    /* display: none; */
    padding: 1rem;
    font-family: monospace;
    line-height: 1.6rem;
    word-spacing: 2px;
    font-size: 1.2rem;
    border: hsl(0, 0%, 90%) 2px solid;
    border-radius: 10px;
    /* z-index: 1; */
}

#note-header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#note-heading {
    /* margin-left: 3.8rem;
    transform: translate(-50%,0); */
    font-size: 3vw;
}

#note-header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 2.2rem; */
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 90%);
    margin-right: 1.5rem;
    font-weight: 600;
}

#select-files {
    position: relative;
}

.active>.link,
.link:hover {
    color: white;
}

#files-list-container {
    position: absolute;
    left: -50%;
    top: calc(160%);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translate(0, -10px);
    transition: .5s;
    pointer-events: none;
    z-index: 100;
    font-weight: 500;
}

#files-list-container div {
    position: relative;
    width: 6rem;
    padding: 5px;
    word-wrap: break-word;
}

.active>.link+#files-list-container {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

#note-header-btn button:nth-child(2) {
    display: grid;
    margin: 1rem;
    place-content: center;
    padding: 1rem;
    width: 3.6rem;
    height: 2rem;
    border: none;
    border-radius: 10vmax;
    background-color: white;
    color: #212121;

}

#form {
    width: 200px;
    height: 150px;
    padding: 1rem;
    position: absolute;
    top: 20%;
    left: 50%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 17px;
    background: white;
    box-shadow: 7px 7px 14px #b8b8b8,
        -7px -7px 14px #ffffff;
    /* display: none; */
    transform: translate(-50%, 0%);
    z-index: 200;
}

#form input {
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 2px hsl(0, 0%, 86%) solid;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
}

#form-btns {
    display: flex;
    justify-content: space-between;
}

#form-btns button:nth-child(1) {
    background: none;
    border: none;
    background-color: #212121;
    padding: 5px 1rem;
    border-radius: 20vmax;
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 90%);
    font-weight: 600;
}

#form-btns button:nth-child(2) {
    background: none;
    border: none;
    /* background-color: #212121; */
    padding: 5px 1rem;
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    border-radius: 20vmax;
}

.delete-icon {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    /* transform: translate(105%,0); */
    background-image: url('../svg/delete.svg');
    background-size: cover;
    z-index: 100;
}

.popup-box {
    position: absolute;
    top: 50%;
    left: 110%;
    width: 200px;
    height: fit-content;
    padding: 1rem;
    background-color: rgb(8, 7, 7);
    text-align: center;
    z-index: 1000;
    color: white;
    /* animation: popslide 4s forwards; */

}

main {
    min-height: 100vh;
}

#title-container {
    height: 100vh;
    text-align: center;
    user-select: none;

}

#soul-bg {
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 45%;
    transform: translate(0,-50%);
    text-align: center;
    font-size: clamp(2rem, 25vw, 20rem);
    font-weight: 800;
    font-family: sans-serif;
    color: white;
}

#soul-bg span {
    text-shadow: -.08em .03em .12em rgba(0, 0, 0, .9);
}

#soul-bg span:not(:first-child) {
    margin-left: -0.57em;
}

.title3 {
    position: relative;
    width: clamp(6rem, 70%, 20rem);
    /* top: 15rem; */
    bottom: -60%;
    transform: translate(0, 5rem);
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    letter-spacing: 3px;
    font-weight: 500;
    color: white;

}

.reveal-parent {
    display: inline-block;
    overflow: hidden;
    transition: 0.5s;
}

.reveal {
    display: inline-block;
    transform: translate(23rem, 0);
    transition: 0.5s;
}

/* .reveal2{
    transform: translate(0,13rem);
} */
.revealed {
    transform: translate(0, 0) !important;
}

#music-container {
    position: relative;
    background-color: #D8E9A8;
    /* scroll-snap-align: start; */
}

#sounds {
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.box {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    transform: translate(0, 30%);
    border-radius: 50%;
    background: linear-gradient(145deg, #c2d297, #e7f9b4);
    box-shadow: 19px 19px 37px #d2e2a3,
        -19px -19px 37px #def0ad;

}



.box-show {
    opacity: 1;
    transform: translate(0, 0);
}

.icon {
    width: 60px;
    height: 60px;
    opacity: 0.5;
}

.icon-opacity {
    opacity: 0.7;
}

.on {
    border: 4px solid hsla(205, 74%, 85%, 0.5);
}

.pic {
    width: 40%;
    position: absolute;
    top: 20%;
    right: 6rem;
}

.inputvol {
    /* -webkit-appearance: none; */
    position: absolute;
    top: 70%;
    opacity: 0.5;
    transform: scale(0.7, 0.7 )  translate(0,3px);
    display: none;
    appearance: none;
    cursor: pointer;
    /* box-shadow: 0px 0px 1px #232;  */
    /* transform: translate(0,3px); */
}

input[type=range]::-webkit-range-thumb {
    -webkit-appearance: none; 
    background-color: green;
  }


 input[type=range]::-webkit-slider-runnable-track {
    height: 1px;
    background: #232;
    border: none;
    border-radius: 3px;
 }
 input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background: hsl(76, 74%, 20%);
    /* margin-top: -4px; */
    transform: translate(0,-50%);
 }

.inp-display {
    display: block;
}

#btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* overflow-x: scroll; */
    padding: 20px;
}

#music-container h2{
display: flex;
font-size: 13px;
justify-content: space-around;
padding: 1rem 0 1rem 0;
color: rgb(100, 112, 66);
}
.music-btn {
    padding: 10px;
    outline: none;
    border: none;
    font-weight: 800;
    opacity: 0.6;
    border-radius: 24px;
    background: linear-gradient(315deg, #c2d297, #e7f9b4);
    box-shadow:  5px 5px 10px hsl(76, 26%, 55%),
    -5px -5px 10px hsl(76, 26%, 75%);

}
.btn-border{
    box-shadow: none;
    border: #212121 2px solid;
}

footer{
    background-color: rgb(255 255 255);
    /* padding: 10%; */
    padding: 0 20% 0 20%;
    height: 30vh;
    font-size: 12px;
    color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
footer div{
    position: relative;
}
.footer-link{
    cursor: pointer;
}
